/* Variables */
$color-principal: #07355D;
$color-secundario: #ffffff;
$color-fondo: whitesmoke;
$color-hover: lightgray;
$color-sombra: black;
$font-familia: "Montserrat", serif;
$padding-general: 20px;
$border-radius: 5px;

/* Reset global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: $font-familia;
  margin: 0;
  background-color: $color-fondo;
}

/* Header */
.contenedor-header {
  background-color: $color-principal;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-general;
  div {
    img {
      width: 70px;
    }
  }
}

/* Navbar */
.navbar {
  background-color: $color-principal;
  .navBar a:hover {
    color: $color-hover;
  }
  .navbar-nav a {
    color: $color-secundario;
    margin: 0 50px;
    font-size: 3vh;
  }
}

/* Servicios */
.sectionServicios {
  padding-left: 5px;
  padding-top: 5px;
  article {
    width: 250px;
    height: 250px;
    background-color: $color-secundario;
    border-radius: $border-radius;
    box-shadow: 2px 2px 5px $color-sombra;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: $padding-general;
  }
}

.left-section {
  padding: $padding-general;
  h2 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
}

.right-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  .card {
    background-color: #f4f4f4;
    padding: $padding-general;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    p {
      text-align: center;
    }
  }
}

/* Footer */
footer {
  background-color: $color-principal;
  p, a {
    color: $color-secundario;
  }
}

.logo {
  padding: 15px;
}

.centrado-h1 {
  text-align: center;
  padding: 30px;
}

.imagen-principal img {
  width: 1300px;
}

.principal {
  height: 100vh;
  width: 100%;
  background-image: url("../assets/imagen-principal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Parrafos y Sections */
.parrafoNosotros, .parrafoServicios {
  padding-bottom: 15px;
  padding-left: 5px;
}

.centradoNosotros {
  display: flex;
  justify-content: center;
}

.video {
  padding-left: 5px;
}

.secciones {
  padding: 5px 0 15px;
}

/* Grids */
.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
  align-items: start;
  max-width: 80%;
  margin: auto;
  .textoPrincipal {
    margin: 0;
    padding: 0;
  }
}

.grid-container.two-columns {
  grid-template-columns: 1fr 2fr;
  gap: 40px;
  align-items: center;
  max-width: 80%;
  margin: auto;
}

.titulo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  .articuloServicios p {
    padding: 20px;
    display: flex;
    text-align: justify;
    justify-content: center;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .titulo-container {
    align-items: center;
    text-align: center;
  }
  .cajas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sectionServicios .grid-container {
    grid-template-columns: 1fr;
  }
  .right-section {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    text-align: center;
  }
  .nav {
    display: flex;
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .titulo-container {
    align-items: center;
    text-align: center;
  }
  .cajas {
    grid-template-columns: 1fr;
  }
  .footer {
    flex-direction: column;
    text-align: center;
  }
}

/* Accordion Button */
.accordion-button:focus {
  background-color: $color-principal;
  color: $color-secundario;
}

.accordion-button.collapsed {
  background-color: $color-principal;
  color: $color-secundario;
}

/* Contacto */
.contenedor-contacto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 20px;
  align-items: start;
  .formulario-container {
    display: flex;
    flex-direction: column;
    padding: $padding-general;
    width: 100%;
    max-width: 500px;
    h2 {
      text-align: center;
      margin-bottom: 15px;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }
  }
  .mapa-container {
    display: flex;
    flex-direction: column;
    padding: $padding-general;
    width: 100%;
    max-width: 500px;
    iframe {
      width: 100%;
      height: 300px;
      border: 0;
    }
    h2 {
      text-align: center;
    }
  }
  .datos-contacto {
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .contenedor-contacto {
    grid-template-columns: 1fr;
  }
  .formulario-container, .mapa-container {
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .contenedor-contacto {
    grid-template-columns: 1fr;
  }
  .grid-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .right-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .card {
    width: 45%;
  }
}

/* Animaciones */
.mapa-container iframe:hover {
  transform: scale(1.5);
}

.card:hover {
  transform: rotate(5deg);
}
