// _variables.scss

/* Colores */
$color-principal: #07355D;
$color-secundario: #ffffff;
$color-fondo: whitesmoke;
$color-hover: lightgray;
$color-sombra: black;

/* Tipografía */
$font-familia: "Montserrat", serif;

/* Espaciado */
$padding-general: 20px;

/* Radio de Bordes */
$border-radius: 5px;
