/* Header */

@use '../utilities/variables' as *;

@use '../utilities/mixins' as *;



.contenedor-header {
    background-color: $color-principal;
    @include flex-container(row, space-between, center); // mixin flex-container
    padding: $padding-general;
    div {
      img {
        width: 70px;
      }
    }
  }
